   @spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
   //73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=${SAP_RBSCTOKEN}
   @spartacus-bff:registry=https://73555000100900008602.npmsrv.base.repositories.cloud.sap/
   //73555000100900008602.npmsrv.base.repositories.cloud.sap/:_auth=${SAP_RBSCTOKEN}
   @vivaldi:registry=https://73555000100900008602.npmsrv.base.repositories.cloud.sap/
   //73555000100900008602.npmsrv.base.repositories.cloud.sap/:_auth=${SAP_RBSCTOKEN}